html {
    background-color: beige;
}

header img {
    width: 100%;
    height: 200px;
}

article img {
    width: 550px;
    height: 350px;
    margin: auto;
    display: block;
}

h3, h1, nav, figcaption {
    text-align: center;
}

.negrito {
    font-weight: bold;
}

.creditos {
    text-align: center;
}

#descricao {
    width: 450px;
}

.conteudo {
    margin-left: 50px;
}